    body {
      margin: 0;
      height: 100vh;
      display: grid;
      place-items: center;
      background-color: #f2f2f2;
    }

    .form-container {
      display: grid;
      gap: 10px;
      padding: 40px;
      border-radius: 8px;
      background: #fff;
      width: 310px;
    }

    .form-container label {
      font-size: 14px;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="password"] {
      padding: 8px;

      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
